.Team{
    font-weight: bolder;
    text-align: center;
    margin-top: -7%;
    background-color: white;
}
.Profile{
    display: flex;
    width: auto;
    justify-content: space-evenly;
    
}
#pics7{
    position: absolute;
    display: block;
    margin-left: -31%;
}
#Prudence{
    position: absolute;
    font-weight: normal;
    font-size: 18px;
    margin-left: 11%;
    margin-top: 19%;
}
span{
    color: #00ADEF;
}
#pics8{
    position: absolute;
    display:flexbox;
    margin-left: 1%;
    float: bottom;
    padding: -38%;
    align-items: flex-end;

}
#Yasmin{
    position: absolute;
    font-weight: normal;
    font-size: 18px;
    margin-left:45%;
    margin-top: 19%;
}
span{
    color: #00ADEF;
}
#pics9{
    position: absolute;
    align-items: center;
    margin-left: 30%;
}

#Nancy{
    position: absolute;
    font-weight: normal;
    font-size: 18px;
   margin-left: 76%;
    margin-top: 19%;
}
#pics10{
    position: absolute;
    margin-left: -25%;
    margin-top: 23%;
}

#Wanda{
    position: absolute;
    font-weight: normal;
    font-size: 18px;
    margin-left: 28%;
    margin-top: 42%;
}
#pics11{
    position: absolute;
    margin-left: 9%;
    margin-top: 23%;
}
#Jane{
    position: absolute;
    font-weight: normal;
    font-size: 18px;
    margin-left: 63%;
    margin-top: 42%;
}

@media only screen and (min-width: 768px) {}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}


